Esercizi/esrcizio.dtd

<!ELEMENT TEI (header, facsimile?, testo+)>
<!ELEMENT header (#PCDATA)>
<!ELEMENT facsimile (#PCDATA)>
<!ELEMENT header (#PCDATA | seg)*>
<!ELEMENT seg (#PCDATA)>
<!ATTLIST header type #FIXED CDATA>
<!ATTLIST header lang #IMPLIED NMTOKEN>
<!ATTLIST facsimile source #REQUIRED>
<!ATTLIST facsimile ref #IMPLIED IDREFS>
<!ATTLIST testo id #REQUIRED ID>
<!ATTLIST testo type #IMPLIED CDATA>